@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.center-element {
  margin: 0 auto;
}

.inter-font {
  font-family: 'Inter', serif;
  font-optical-sizing: none;
  font-weight: 700;
  font-style: normal;
}

.lexend-font {
  font-family: 'Lexend Deca', serif;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
}

.limit-character {
  max-width: 30ch;
}

.width-87 {
  width: 87%;
}

.custom-font-size {
  font-size: 1.75rem;
}
